<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="header pt-5 mt-5">
        <div class="span d-flex justify-content-center align-items-center">
          <span class="top-span text-center">Our blog</span>
        </div>
        <h1 class="text-center mt-4 mb-3">Resources and insights</h1>
        <p class="text-center">
          The latest industry news, interviews, technologies, and resources.
        </p>
        <div class="search d-flex justify-content-center align-items-center">
          <div class="search-content">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="search" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-blog-post-list></app-blog-post-list>
